# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# dotenv
.env
**/.env

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# VS Code
.vscode/

# Uploads and temporary files
uploads/
